@model List<efHieuDemo.Models.People>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>People Table</h2>
<a type="button" class="btn btn-success" asp-controller="People" asp-action="Create">Create</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Des</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var people in Model)
    {
        <tr>
            <th scope="row">@people.Id</th>
            <td>@people.Name</td>
            <td>@people.Age</td>
            <td>@people.Description</td>
            <td>
                <a type="button" 
                   class="btn btn-warning" asp-controller="People" asp-action="Update" 
                   asp-route-peopleId="@people.Id">Update</a>
                <a type="button"
                   class="btn btn-danger" asp-controller="People" asp-action="Delete"
                   asp-route-peopleId="@people.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>